*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/* body{
    background: #222;
    height: 300px;
} */

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.condition {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 5px;
    opacity: 0.85;
}


.cart{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchBtn{
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 5px 10px;
    border-radius: 10px;
    flex: 1;
    margin-right: 16px;
    font-size: 14px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
font-size: 80px;
font-weight: 500;
}

.weather h2{
font-size: 45px;
font-weight: 400;
margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.imgsize{
    height: 50px;
    width: auto;
}
